[Unit]
Description=Atlas B
After=network.target

[Service]
TimeoutStartSec=0
Type=notify
ExecStart=/usr/local/bin/cloudflared tunnel run --token eyJhIjoiMGYzNjczOGUxNTVkOTYwZDRmNGQ1NWYyMDRiNWI0OGUiLCJ0IjoiMTE2YmEyMzEtMmZhMC00Njg3LWFhOGEtNzg2YTBiZTNlMmIyIiwicyI6Ik16STVabU01TkRVdFl6WTVNeTAwTW1aaExUZ3pPVFl0WVRoaFlqRTNOVFZpTVRJeCJ9
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
