[Unit]
Description=Atlas A
After=network.target

[Service]
TimeoutStartSec=0
Type=notify
ExecStart=/usr/local/bin/cloudflared tunnel run --token eyJhIjoiMGYzNjczOGUxNTVkOTYwZDRmNGQ1NWYyMDRiNWI0OGUiLCJ0IjoiYmFhNjcwZmQtMjBjMy00ZTg2LWJjZWItMDBkYzE5Mjg3NmIzIiwicyI6Ik0yUXdZVGRoTjJZdE56azBZaTAwTTJZMExXRXlPVEV0T0RaaU5qbGhNRGt3T0dOaSJ9
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
